{% extends 'base.html.twig' %}

{% block title %}Hello ViewController!{% endblock %}

{% block body %}

    <h1> Hoy es {{dia_var}} </h1>

    <h2> Usuario: {{objeto_usuario.nombre}} {{objeto_usuario.apellido}}</h2>
    <h2> Usuario: {{objeto_usuario.edad}}</h2>

    <ul>
        {% for fruta in array %}
            <li>{{fruta}}</li>
        {% endfor %}
    </ul>

{% endblock %}
